:root {
	/* BASICS */
	--basic-ff: 'Silkscreen';
	--basic-txcolor: #eee;
	--basic-bgcolor: black;
	--basic-tt: normal;

	--main-text-width: 75%;
	--extra-text-width: 24%;
	--extra-text-bgcolor: #333;

	--basic-padding-text: 15px;

	/*************/

	--link-txcolor: #999;
	--link-txhovercolor: White;

	--data-txcolor: DarkOrange;
	--data-bgcolor: transparent;

	--voice-txcolor: LightCoral;
	--voice-bgcolor: transparent;

	--health-txcolor: #a92121;
	--health-bgcolor: #621c1c;

	--sanity-txcolor: #549316;
	--sanity-bgcolor: #2c4513;

	--anykey-color: #222;

	--main-ff: var(--basic-ff);
	--main-fs: 100%;
	--main-lh: 1.3;
	--main-tt: var(--basic-tt);
	--main-txcolor: var(--basic-txcolor);
	--main-bgcolor: var(--basic-bgcolor);

	--main-cursor: crosshair;

	--status-ff: var(--basic-ff);
	--status-fs: 100%;
	--status-tt: var(--basic-tt);
	--status-padding: 5px 0px;
	--status-txcolor: var(--basic-txcolor);
	--status-bgcolor: var(--basic-bgcolor);
	--status-border: 2px dotted var(--status-txcolor);

	--title-ff: var(--basic-ff);
	--title-fs: 100%;
	--title-lh: 1.5;
	--title-tt: var(--basic-tt);
	--title-txcolor: var(--basic-bgcolor);
	--title-bgcolor: var(--basic-txcolor);
	--title-padding: 3px;

	--loc-ff: var(--basic-ff);
	--loc-fs: 100%;
	--loc-lh: 2;
	--loc-tt: var(--basic-tt);
	--loc-txcolor: var(--basic-bgcolor);
	--loc-bgcolor: var(--basic-txcolor);
	--loc-padding: 3px 10px;

	--wrapper-bgcolor: var(--basic-bgcolor);
	--wrapper-gradientintcolor: var(--basic-gradientintcolor);
	--wrapper-width: 1200px;

	--prompt-ff: var(--basic-ff);
	--prompt-fs: 100%;
	--prompt-lh: 1.5;
	--prompt-tt: var(--basic-tt);
	--prompt-txcolor: var(--basic-txcolor);
	--prompt-bgcolor: var(--basic-bgcolor);

	--feedback-ff: var(--basic-ff);
	--feedback-fs: 100%;
	--feedback-lh: 1;
	--feedback-tt: var(--basic-tt);
	--feedback-txcolor: DimGrey;
	--feedback-bgcolor: var(--basic-bgcolor);
	--feedback-padding: 0px;

	--tooltip-txcolor: var(--basic-txcolor);
	--tooltip-bgcolor: var(--basic-bgcolor);
	--tooltip-bordercolor: var(--basic-txcolor);

	--overlay-txcolor: var(--basic-txcolor);
	--overlay-bgcolor: var(--basic-bgcolor);
	--overlay-bordercolor: var(--basic-txcolor);

	--notification-txcolor: var(--basic-bgcolor);
	--notification-bgcolor: var(--basic-txcolor);
	--notification-bordercolor: var(--basic-txcolor);
}

body {
	font-family: var(--main-ff);
	font-size: var(--main-fs);
	line-height: var(--main-lh);
	text-transform: var(--main-tt);
	color: var(--main-txcolor);
	background-color: var(--main-bgcolor);
	-webkit-text-size-adjust: none;
	cursor: var(--main-cursor);
	overflow: hidden;
	display: flex;
	letter-spacing: -1px !important;
}

/*LINEAS HORIZONTALES*/
body:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.10) 50%);
	background-size: 100% 2px;
	z-index: 2;
	pointer-events: none;
}


a {
	text-decoration: none;
	color: red;
}

.invenGrid {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 10px;
}

.invenItem {
	background-color: transparent;
	color: white;
	height: 57px;
	width: 57px;
}

.tooltip-container {
	position: relative;
	display: inline-block;
}

.tooltip-img {
	height: auto;
}

.tooltip-text {
	position: absolute;
	top: 57px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 20px;
	background-color: var(--tooltip-bgcolor);
	color: var(--tooltip-txcolor);
	border: 2px solid var(--tooltip-bordercolor);
	visibility: hidden;
	white-space: nowrap;
	text-align: center;
}

.tooltip-container:hover .tooltip-text {
	visibility: visible;
	top: 57px;
	/* Adjust distance from image on hover */
}

.conditionGrid {
	display: flex;
	gap: 10px;
}

.conditionItem {
	border: 2px dotted white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.conditionValue {
	font-size: 200%;
	letter-spacing: -4px;
}

.conditionText {
	text-align: center;
}

.notification {
	display: flex;
	justify-content: center;

	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	color: var(--notification-txcolor);
	background-color: var(--notification-bgcolor);
	padding: 10px;
	z-index: 1;
	border: 2px dotted var(--notification-bordercolor);
	top: -100px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1;
}

.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--overlay-txcolor);
	background-color: var(--overlay-bgcolor);
	border: 2px dotted var(--overlay-bordercolor);
	max-width: 500px;
	padding: 20px;
}

.statusbar {
	font-family: var(--status-ff);
	font-size: var(--status-fs);
	text-transform: var(--status-tt);
	color: var(--status-txcolor);
	background-color: var(--status-bgcolor);
	padding: var(--status-padding);

	position: absolute;
	overflow: hidden;
	width: 100%;
	margin-top: 10px;

	border-bottom: var(--status-border);

}

.sbl {
	float: left;
	text-align: left;
	padding-left: var(--basic-padding-text);
}

.sbr {
	float: right;
	text-align: right;
	padding-right: var(--basic-padding-text);
}

.title {
	font-family: var(--title-ff);
	font-size: var(--title-fs);
	line-height: var(--title-lh);
	text-transform: var(--title-tt);
	color: var(--title-txcolor);
	background-color: var(--title-bgcolor);
	padding: var(--title-padding);
}

.loc {
	font-family: var(--loc-ff);
	font-size: var(--loc-fs);
	line-height: var(--loc-lh);
	text-transform: var(--loc-tt);
	color: var(--loc-txcolor);
	background-color: var(--loc-bgcolor);
	padding: var(--loc-padding);
}

.data {
	color: var(--data-txcolor);
	background-color: var(--data-bgcolor);
}

.voice {
	color: var(--voice-txcolor);
	background-color: var(--voice-bgcolor);
}

.blink {
	animation-name: aBlinking;
	animation-timing-function: ease-in-out;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.hidden {
	background-color: var(--basic-txcolor);
}

.hide {
	/*background-color: var(--basic-txcolor);
	color: var(--basic-bgcolor);
	border-radius: 0.6em 0.2em;
	box-decoration-break: clone;
	transform: rotate(2deg);*/
	position: relative;
	display: inline-block;
	z-index: 0;
}

.hide:before {
	content: " ";
	display: block;
	height: 50%;
	width: 100%;
	position: absolute;
	background: var(--basic-txcolor);
	transform: rotate(1deg);
	left: -6px;
	border-radius: 10% 17% 10% 12%;
	padding: 10px 3px 3px 10px;
	z-index: -1;
}

@keyframes aBlinking {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

::selection {
	background: var(--main-txcolor);
	color: var(--main-bgcolor);
}

::-moz-selection {
	background: var(--main-txcolor);
	color: var(--main-bgcolor);
}

a {
	color: var(--link-txcolor);
	text-decoration: none !important;
}

a:visited {
	color: var(--link-txcolor);
	text-decoration: none !important;
}

a:hover {
	color: var(--link-txhovercolor);
	text-decoration: none !important;
}

.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	background-color: var(--wrapper-bgcolor);
	width: var(--wrapper-width);
	margin: auto;

	/* NO SELECTION */
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.graphics {
	position: absolute;
	height: 50%;
	top: 10%;
	margin: 10px 0px;
	width: var(--main-text-width);

}

.text {
	position: absolute;
	top: 52%;
	bottom: 7%;
	overflow: hidden;
	width: var(--main-text-width);
	box-sizing: border-box;
	margin: 60px 0px 60px 0px;
	padding: var(--basic-padding-text);
}

.extratext {
	float: right;
	bottom: 7%;
	width: var(--extra-text-width);
	box-sizing: border-box;
	margin: 57px 0px 60px 0px;
	/*border-left: 2px dotted white;*/
	/*background-image: linear-gradient(var(--extra-text-bgcolor), var(--basic-bgcolor));*/
	padding: var(--basic-padding-text);
	padding-top: 0;
}

.input {
	position: absolute;
	/*height: 7%;*/
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	background-color: var(--prompt-bgcolor);
}

.prompt {
	border: none;
	font-family: var(--prompt-ff);
	font-size: var(--prompt-fs);
	line-height: var(--prompt-lh);
	text-transform: var(--prompt-tt);
	color: var(--prompt-txcolor);
	background-color: var(--prompt-bgcolor);

	margin: 5px 0 5px 0;
	outline: none;
	width: 100%;
	letter-spacing: -1px;

}


.location_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	max-width: 100%;
	max-height: 100%;
}

.half_text {
	top: 210px;
	bottom: 0px;
}

.half_graphics {
	height: 200px;
	top: 50px;
}

.hidden {
	height: 0%;
}

.feedback {
	font-family: var(--feedback-ff);
	font-size: var(--feedback-fs);
	line-height: var(--feedback-lh);
	text-transform: var(--feedback-tt);
	color: var(--feedback-txcolor);
	background-color: var(--feedback-bgcolor);
	padding: var(--feedback-padding);
}

.all_text {
	top: 0;
	bottom: 20px;
}

::-webkit-input-placeholder {
	color: var(--main-txcolor);
	opacity: 0.3;
}

::-moz-placeholder {
	color: var(--main-txcolor);
	opacity: 0.3;
}

:-ms-input-placeholder {
	color: var(--main-txcolor);
	opacity: 0.3;
}

input:-moz-placeholder {
	color: var(--main-txcolor);
	opacity: 0.3;
}

.block_layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 1000;
	background-color: var(--main-bgcolor);
}



.block_layer .block_graphics {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	display: block;
	background-color: var(--main-bgcolor);
	box-sizing: border-box;
}

.block_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block_layer .block_text {
	position: absolute;
	top: 52%;
	bottom: 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	display: block;
	padding: 10px;
	background-color: var(--main-bgcolor);
}

/* transcript layer */

.transcript_layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 1001;
	overflow: scroll;
	background-color: var(--main-bgcolor);

}

#transcript_area {
	height: 100%;
	width: 100%;
	overflow: scroll;
	box-sizing: border-box;
}

.textpic {
	float: left;
	margin: 25px;
}

.anykey {
	color: var(--anykey-color);
}

.anykey_layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: transparent;
	z-index: 2000;
	display: none;
}

@media (max-width: 1200px) {

	body {
		font-size: 100%;
	}

	.wrapper {
		overflow: hidden;
		width: 100%;
	}

}