/* whitepaper theme */
:root {
	--imageHeight: 300px;
	--inputHeight: 100px;
	--globalPadding: 40px;

	--backgroundColor1: #000;
	--backgroundColor2: #101110;
	--textColor: #74ffc1;
	--textGlow: #209565;

	--linesThickness: 0px;
	--font: 'Workbench';
	--fontSize: 24px;
	--textTransform: none;
	--letterSpacing: 1px;
}

@font-face {
	font-family: 'Workbench';
	src: url('dat/Workbench-Regular.ttf') format('truetype');
}

/* global */

* {
	font-family: var(--font), Verdana, arial, helvetica;
	-webkit-text-size-adjust: none;
	font-size: var(--fontSize);
	text-transform: var(--textTransform);
	letter-spacing: var(--letterSpacing);
}

body {
	overflow-x: hidden;
	color: var(--textColor);
}

/*LINEAS HORIZONTALES*/
body:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.10) 50%);
	background-size: 100% var(--linesThickness);
	z-index: 2;
	pointer-events: none;
}

body:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom, transparent, var(--textGlow));
	background-repeat: no-repeat;
	background-size: 100% 400px;
	opacity: .02;
	animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
	0% {
		background-position: 0 -400px;
	}

	100% {
		background-position: 0 calc(100vh + 4000px);
	}
}

::selection {
	background-color: var(--textColor);
	color: black;
}

a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	color: cornflowerblue;
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}

.changeColor {
	color: white;
}

.highlight {
	background-color: var(--textColor);
}

.anykey {
	opacity: .2;
}

@keyframes example {
	from {color: red;}
	to {color: yellow;}
  }

/* standard layer */

.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, var(--backgroundColor1), var(--backgroundColor2));
	text-shadow: 0 0 10px var(--textGlow);
}


.graphics {
	position: absolute;
	height: var(--imageHeight);
	top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;

}

.text {
	position: absolute;
	top: 52%;
	bottom: var(--inputHeight);
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	padding: var(--globalPadding);
}

.input {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	height: var(--inputHeight);
	padding: var(--globalPadding);
}

.prompt {
	box-sizing: border-box;
	border: none;
	outline: none;
	width: 100%;
	background-color: transparent;
	color: var(--textColor);
	text-shadow: 0 0 10px var(--textGlow);
}

.prompt:before {
	content: '';
	border-left: 30px solid red;
}

.location_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	max-width: 100%;
	max-height: 100%;
}

.half_text {
	top: var(--imageHeight);
	bottom: var(--inputHeight);
}

.half_graphics {
	height: var(--imageHeight);
	top: 0;
}

.hidden {
	height: 0%;
}

.feedback {
	text-transform: uppercase;
	color: var(--textColor);
	text-shadow: 0 0 10px var(--textGlow);
}

.all_text {
	top: 0;
	bottom: var(--inputHeight);
}

/* input placeholder */
input::-webkit-input-placeholder,
input::placeholder {
	color: var(--textColor);
	/*Change the placeholder color*/
	opacity: .3;
	/*Change the opacity between 0 and 1*/
}



/* block layer */

.block_layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 1000;
	background-color: black;
}



.block_layer .block_graphics {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	display: block;
	background-color: black;
	box-sizing: border-box;
}

.block_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block_layer .block_text {
	position: absolute;
	top: 52%;
	bottom: 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	display: block;
	padding: 10px;
	background-color: black;
}

/* transcript layer */

.transcript_layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 1001;
	overflow: scroll;
	background-color: black;

}

#transcript_area {
	height: 100%;
	width: 100%;
	overflow: scroll;
	box-sizing: border-box;
	padding: 10px;
}

.textpic {
	float: left;
	margin: 25px;
}

.anykey_layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: transparent;
	z-index: 2000;
	display: none;
}



@media (max-width: 1024px) {

	body {
		font-size: 300%;
	}

	.graphics {
		position: relative;
	}

	.text {
		position: relative;
		top: auto;
		bottom: auto;
		height: auto;
	}

	.input {
		position: relative;
		top: auto;
		bottom: auto;
	}


	.half_text {
		top: auto;
		bottom: auto;
		height: auto;
	}


	.hidden {
		height: 0%;
	}


	.all_text {
		top: auto;
		bottom: auto;
		height: auto;

	}

	.wrapper {
		height: auto;
		max-height: auto;
		overflow: auto;
	}

}