:root
{
    /* BASICS */
    --basic-ff: 'Press Start 2P';
    --basic-txcolor: SpringGreen;
    --basic-bgcolor: #001101;
    --basic-gradientintcolor:#002201;
    --basic-tt: uppercase;

    /*************/

    --data-txcolor: White;
    --data-bgcolor: transparent;

    --warning-txcolor: Red;
    --warning-bgcolor: transparent;

    --main-ff: var(--basic-ff);
    --main-fs: 80%;
    --main-lh: 1.5;
    --main-tt: var(--basic-tt);
    --main-txcolor: var(--basic-txcolor);
    --main-bgcolor: var(--basic-bgcolor);

    --main-cursor: crosshair;

    --wrapper-bgcolor: var(--basic-bgcolor);
    --wrapper-gradientintcolor: var(--basic-gradientintcolor);
    --wrapper-width: 1200px;

    --caret-color: var(--basic-txcolor);

    --prompt-ff: var(--basic-ff);
    --prompt-fs: 100%;
    --prompt-lh: 1.5;
    --prompt-tt: var(--basic-tt);
    --prompt-txcolor: var(--basic-txcolor);
    --prompt-bgcolor: var(--basic-bgcolor);

    --feedback-ff: var(--basic-ff);
    --feedback-fs: 100%;
    --feedback-lh: 1.5;
    --feedback-tt: var(--basic-tt);
    --feedback-txcolor: var(--basic-bgcolor);
    --feedback-bgcolor: var(--basic-txcolor);

    --status-ff: var(--basic-ff);
    --status-fs: 100%;
    --status-tt: var(--basic-tt);
    --status-padding: 5px 0px;
    --status-txcolor: var(--basic-txcolor);
    --status-bgcolor: var(--basic-bgcolor);

    --title-ff: var(--basic-ff);
    --title-fs: 120%;
    --title-lh: 2;
    --title-tt: var(--basic-tt);
    --title-txcolor: var(--basic-bgcolor);
    --title-bgcolor: var(--basic-txcolor);
    --title-padding: 7px 7px 3px 7px;
}

body {
    font-family: var(--main-ff);
    font-size: var(--main-fs);
    line-height: var(--main-lh);
    text-transform: var(--main-tt);
    color: var(--main-txcolor);
    background-color: var(--main-bgcolor);
    -webkit-text-size-adjust: none;
    cursor: var(--main-cursor);
    overflow: hidden;
    display: flex;

}

body:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.20) 50%
    );
    background-size: 100% 2px;
    z-index: 2;
    pointer-events: none;
    /*animation: aFlicker 0.15s infinite;*/ /*This flicks the horizontal lines*/
}

.statusbar
{
    font-family: var(--status-ff);
    font-size: var(--status-fs);
    text-transform: var(--status-tt);
    color: var(--status-txcolor);
    background-color: var(--status-bgcolor);
    padding: var(--status-padding);

    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;

    animation: aSalto 21s 0.5s infinite;

    border-bottom: 1px dashed var(--status-txcolor);

}

.sbl { float: left; text-align: left; padding-left: 20px; }
.sbr { float: right; text-align: right; padding-right: 20px; }

.centrar {text-align: center;}

.title
{
    font-family: var(--title-ff);
    font-size: var(--title-fs);
    line-height: var(--title-lh);
    text-transform: var(--title-tt);
    color: var(--title-txcolor);
    background-color: var(--title-bgcolor);
    padding: var(--title-padding);
}

.data
{
    color: var(--data-txcolor);
    background-color: var(--data-bgcolor);
}

.warning
{
    color: var(--warning-txcolor);
    background-color: var(--warning-bgcolor);
}

.flash
{
    animation: aFlash 3s linear infinite;
}

.flashed
{
    color: White;
    text-shadow: -1px -1px 0 var(--main-txcolor), 1px -1px 0 var(--main-txcolor), -1px 1px 0 var(--main-txcolor), 1px 1px 0 var(--main-txcolor), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
}

.glitch
{
    animation: aGlitch 1.5s ease-in-out infinite;
}

.blink
{
    animation-name: aBlinking;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes aBlinking { from {opacity: 0;} to {opacity: 100;} }

::selection {
  background: var(--main-txcolor);
  color: var(--main-bgcolor);
}
::-moz-selection {
  background: var(--main-txcolor);
  color: var(--main-bgcolor);
}

a { color: var(--main-txcolor); text-decoration: none; }
a:visited { color: var(--main-txcolor); text-decoration: none; }
a:hover { text-decoration: underline; }

.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.4) 10%,
        rgba(0, 0, 0, 0.2) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: aScanline 20s linear infinite;
}
@keyframes aScanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}


.wrapper
{
    position: absolute;
    left: 0 ;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--wrapper-bgcolor);
    width: var(--wrapper-width);
    margin: auto;
    background-image: radial-gradient(var(--wrapper-gradientintcolor) 0%, var(--wrapper-bgcolor) 50%);
    /*animation: aSalto 41s 50ms infinite;*/
}


.graphics {
    position: absolute;
    height: 50%;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    animation: aSalto 7s 200ms infinite;
}

.text {
    position: absolute;
    top: 52%;
    bottom:7%;
    overflow: hidden;
    width: 97%;
    box-sizing: border-box;
    margin: 60px 20px 40px 20px;

}

.input {
    position: absolute;
    height: 7%;
    bottom:0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background-color: var(--prompt-bgcolor);



}

.prompt {
    border: none;
    font-family: var(--prompt-ff);
    font-size: var(--prompt-fs);
    line-height: var(--prompt-lh);
    text-transform: var(--prompt-tt);
    color: var(--prompt-txcolor);
    background-color: var(--prompt-bgcolor);

    margin: 5px 0 5px 0;
    outline: none;
    width: 100%;

    /*border-right: 10px solid var(--caret-color);*/

    animation: aSalto 5s 1s infinite, aCaret 0.5s infinite;

}


.location_picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    max-width: 100%;
    max-height: 100%;
}

.half_text
{
    top: 350px;
    bottom:80px;
}

.half_graphics
{
    height: 350px;
    top: 50px;
}

.hidden
{
    height: 0%;
}

.feedback {
    font-family: var(--feedback-ff);
    font-size: var(--feedback-fs);
    line-height: var(--feedback-lh);
    text-transform: var(--feedback-tt);
    color: var(--feedback-txcolor);
    background-color: var(--feedback-bgcolor);
    padding: 4px 10px 2px 10px;
}

.all_text
{
    top: 0;
    bottom: 7%;
}

::-webkit-input-placeholder { color:var(--main-txcolor); opacity: 0.3;  }
::-moz-placeholder { color:var(--main-txcolor); opacity: 0.3; }
:-ms-input-placeholder { color:var(--main-txcolor); opacity: 0.3; }
input:-moz-placeholder { color:var(--main-txcolor); opacity: 0.3; }

.block_layer
{
    position: absolute;
    left :0 ;
    top :0;
    bottom: 0;
    right: 0;
    display: none;
    z-index:1000;
    background-color: var(--main-bgcolor);
}



.block_layer .block_graphics {
    position: absolute;
    width: 100%;
    height:50%;
    top: 0;
    display: block;
    background-color: var(--main-bgcolor);
    box-sizing: border-box;
}

.block_picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block_layer .block_text {
    position: absolute;
    top: 52%;
    bottom:0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    background-color: var(--main-bgcolor);
}

/* transcript layer */

.transcript_layer {
    position: absolute;
    left :0 ;
    top :0;
    bottom: 0;
    right: 0;
    display: none;
    z-index:1001;
    overflow:scroll;
    background-color: var(--main-bgcolor);

}

#transcript_area {
    height:100%;
    width:100%;
    overflow:scroll;
    box-sizing: border-box;
    padding: 10px;
}

.textpic {
    float:left
    margin: 25px;
}

.anykey_layer {
    position:absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    background-color: transparent;
    z-index: 2000;
    display: none;
}

@keyframes aGlitch {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

@keyframes aSalto {
  0%{
    transform: rotateX(10deg) skewX(90deg);
  }
  1%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes aFlicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

@keyframes aFlash {
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {

        opacity: .99;
        text-shadow: -1px -1px 0 var(--main-txcolor), 1px -1px 0 var(--main-txcolor), -1px 1px 0 var(--main-txcolor), 1px 1px 0 var(--main-txcolor), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
     0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 0.6;
        text-shadow: none;
    }
}

@keyframes aCaret { 50% { border-color: var(--title-txcolor); }  }

@media (max-width: 1200px) {

    body
    {
        font-size: 75%;
    }

    .wrapper
    {
        overflow: hidden;
        width: 90%;
    }

}
