/* latin */
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://web.archive.org/web/20221213044536im_/https://fonts.gstatic.com/s/sharetechmono/v15/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
     FILE ARCHIVED ON 04:45:36 Dec 13, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:12:54 Nov 10, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.657
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.016
  esindex: 0.01
  cdx.remote: 12.598
  LoadShardBlock: 247.399 (6)
  PetaboxLoader3.datanode: 202.491 (7)
  load_resource: 255.111
  PetaboxLoader3.resolve: 229.273
*/